//Colores
//maincolor o primarycolor (principal); secondary color (secundario) y accentcolor (acentuado o resaltado)
//interesante usar estos nombres de variables
//http://sass-lang.com/styleguide/color

$primary-color: teal;
$secondary-color: #CF649A;
$accent-color: orange;
